/*About*/

.container {
  display: flex;
  background-color: #c698a1;
  max-width: 100%;
  justify-content: center;
  align-content: center; 
  
}

.container h2 {
  font-size: 150%;
  font-weight: 500;
  font-family: Montserrat, Verdana, sans-serif;
  margin: 20px;
  text-align: center;
}

#about-sparkle-container {
  width: 90%;
  margin: 20px auto;
}

#about-sparkle-container h2 {
  text-transform: uppercase; 
  text-align: center;
  font-size: 150%;
  font-family: Montserrat, Verdana, sans-serif;
}

#about-sparkle-container h3 {
  margin: 10px;
  text-align: center;
  font-size: 120%;
  font-family: Montserrat, Verdana, sans-serif;
}

#about-sparkle > div, #team-sparkle > div {
  line-height: 20px;
  margin-bottom: 20px;
}


#background p {
  padding: 5px 10px;
}

#background hr {
  border-top: 1px dotted #031226;
  margin: 5px 0;
}

#circle-cover-bg-end {
  background: url("../images/rhand-mccoy-VAfNctgbreA-unsplash.webp") no-repeat top center / cover;
  height: 90vw;
  width: 90vw;
  margin-bottom: 20px;
  /*Makes the square image into a circle*/
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  border: 1px solid #031226;
}

#sparkle-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*The group section*/

#sparkle-spoiler {
  background: url("../images/rachel-walker-fdYWSfH8N6Y-unsplash.jpg") no-repeat center / cover;
  /*Handles rensponsivity without the need for a media query*/
  display: flex;
  flex-wrap: wrap;  

}

#sparkle-spoiler div {
  color: #ece3ce;
  background-color: rgba(27, 19, 73, 0.3);
  padding: 20px;
  text-align: center;
  /*this will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row*/
  flex-basis: 200px;
  flex-grow: 1;
  /*creates a grid of group member divs over the background image*/
  border: 2px solid #ece3ce;
}

#sparkle-spoiler h3 {
  /*Override the heading color set in general styles*/
  color: #ece3ce;
  text-transform: capitalize; 
  text-align: center;
  font-size: 100%;
  font-family: Montserrat, Verdana, sans-serif;
}

#sparkle-spoiler img {
  align-self: center;
  width: 20vh;
  height: 20vh;
  margin: 10px;
  border: solid 1px #031226;
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

#sparkle-spoiler i {  
  align-self: center;
  font-size: 200%;
  padding: 5%;
  color: #fffcc9;
}

#spoiler h2 {
  text-align: center;
  text-transform: capitalize;
}

/* Media query fot tablets and up (from 768px and larger screens) */
@media screen and (min-width: 768px) {
  /*About*/

  #about-sparkle,
  #team-sparkle {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #about-sparkle > div,
  #team-sparkle > div {
    width: 75%;
    text-align: left;
    align-self: center;
  }


}

@media screen and (min-width: 992px) {
  /*About*/
  #background {
    flex-direction: row;
    display: flex;
  }

  #background > div {
    flex: 1;
  }

  #sparkle-image {
    order: 0;
  }

  #team-sparkle {
    order: 1;
  }

  #about-sparkle > div,
  #team-sparkle > div {
    align-self: center;
    text-align: left;
  }
}
