@import url("https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;500;700&display=swap");

/* Hero */

main {
  background-color: #f9d1b7;
  background-image: linear-gradient(315deg, #f894a4 0%, #f9d1b7 94%);
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
    url("../../assets/images/couple-forest.webp");
  background-color: #481550;
  height: 50vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hero h1 {
  font-size: clamp(2rem, 8vw, 4rem);
  font-weight: 700;
}

#hero-text {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #feecea;
  padding: 0 20px;
}

#hero-text > h2 {
  font-size: clamp(1.6rem, 4vw, 3rem);
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 0.2em black;
}

/* Intro section */

#intro-text {
  transform: translate(0, -25%);
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#intro i {
  color: inherit;
  max-width: 100%;
}

#intro p {
  font-size: clamp(0.9rem, 1.5vw, 1.2rem);
  color: var(--secondary);
  line-height: 2.8ch;
  letter-spacing: 1px;
  max-width: 65ch;
  font-weight: 600;
}

#intro ul {
  list-style-type: none;
}

/* Media query fot tablets and up (from 768px and larger screens) */
@media screen and (min-width: 768px) {
  #hero {
    height: 70vh;
  }
}

/* Media query for laptops and up (from 992px and larger screens) */
@media screen and (min-width: 992px) {
  #menu-items a:hover {
    border-bottom: 1px solid #feecea;
  }
}

/* LIST CSS */

#listWrapper {
  --color: rgba(30, 30, 30);
  --bgColor: rgba(245, 245, 245);
  display: grid;
  align-content: center;
  font-family: "Exo 2", sans-serif;
  color: var(--color);
}
ol {
  width: min(60rem, 90%);
  margin-inline: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  list-style: none;
  counter-reset: stepnr;
}

li:nth-child(6n + 1) {
  --accent-color: #b8df4e;
}
li:nth-child(6n + 2) {
  --accent-color: #4cbccb;
}
li:nth-child(6n + 3) {
  --accent-color: #7197d3;
}
li:nth-child(6n + 4) {
  --accent-color: #ae78cb;
}
li:nth-child(6n + 5) {
  --accent-color: #7dc7a4;
}
li:nth-child(6n + 6) {
  --accent-color: #f078c2;
}

ol li {
  counter-increment: stepnr;
  width: 18rem;
  --borderS: 1rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: calc(var(--borderS) + 2rem);
  position: relative;
  background: var(--bgColor);
  border-radius: 50%;
}
ol li::before,
ol li::after {
  inset: 0;
  position: absolute;
  border-radius: 50%;
  border: var(--borderS) solid var(--bgColor);
  line-height: 1.1;
}
ol li::before {
  content: counter(stepnr);
  color: var(--accent-color);
  padding-left: 10rem;
  font-size: 12rem;
  font-weight: 700;
  overflow: hidden;
}

ol li::after {
  content: "";
  filter: drop-shadow(-0.25rem 0.25rem 0.0675rem rgba(0, 0, 0, 0.75)) blur(5px);
}

ol li > * {
  width: 7.5rem;
}
ol li .icon {
  font-size: 2rem;
  color: var(--accent-color);
  text-align: center;
}
ol li .title {
  font-size: 2rem;
  font-weight: 500;
}
ol li .descr {
  font-size: 0.8rem;
  font-weight: 300;
}
