/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colours */
  --header-text: #481550;
  --main-text: #06040f;
  --background: #feecea;
  --primary: #f085f2;
  --accent: #592331;
  --secondary: #04041c;
}

/* GLOBAL STYLES */

html {
  height: 100%;
  font-family: Montserrat, Verdana, sans-serif;
}

h1,
h2,
h3 {
  font-family: Gwendolyn, cursive;
  font-weight: 500;
  text-transform: capitalize;
  word-spacing: 0.4rem;
}

/* Navbar styles */

.nav-item a {
  color: var(--background) !important;
  text-shadow: 0 0 0.2em #000;
}

.wrapper {
  background-image: url("../../assets/images/couple-forest.webp");
  background-color: #481550;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.brand-logo {
  color: var(--background);
  font-size: 40px;
  font-family: Gwendolyn, cursive;
  text-decoration: none;
  font-weight: 700;
}

.bg-dark-gradient {
  background-color: rgba(0, 0, 0, 0.5);
}

.w-fit {
  width: fit-content;
}

.icon-container {
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  padding: 8px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
body {
  background-color: var(--background) !important;
}

.btn-selection {
  background-color: var(--accent);
  color: var(--background);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  border: solid 2px var(--header-text);
}

.btn-selection:hover {
  background-color: var(--header-text);
  border: solid 2px var(--accent);
}

.btn-selection.selected {
  background-color: var(--primary);
  border: solid 2px var(--accent);
}

.choices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.btn-accept {
  margin-top: 1rem;
  background-color: var(--secondary);
  color: var(--background);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 600;
  border-radius: 10px;
  border: solid 2px var(--header-text);
  padding: 0.5rem 1rem;
}

.btn-accept:hover {
  background-color: var(--header-text);
  border: solid 2px var(--secondary);
}
