/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colours */
  --header-text: #732642;
  --main-text: #06040f;
  --background: #FCEDCF;
  --primary: #F2A7A7;
  --accent: #BF4565;
  --secondary: #04041c;

  /* Fonts */
  --font-family: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Montserrat, Verdana, sans-serif;
}

h1,
h2 {
  font-family: Gwendolyn, cursive;
  font-weight: 500;
  text-transform: capitalize;
  word-spacing: 0.4rem;
}

h1 {
  font-size: 28px;
  color: #FCEDCF;
}

h2 {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* Navbar styles with dropdown toggle */
#menu {
  position: absolute;
  width: 100%;
  padding: 0 1rem;
  left: 0;
  display: none;
  top: 100%;
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  padding-right: 2px;
  position: relative;
  color: #FCEDCF;
  text-shadow: 0 0 0.2em black;
}

#hero {
  background-image: url("../../assets/images/couple-forest.webp");
  background-color: #732642;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Footer */
footer {
  background-color: #06040f;
  color: #FCEDCF;
}

/* Media query for tablets and up (from 768px and larger screens) */
@media screen and (min-width: 768px) {
  header h1 {
    font-size: 40px;
  }

  /* Make menu always visible*/
  #menu {
    position: relative;
    width: fit-content;
    padding-right: 1rem;
    box-shadow: none;
    display: block;
  }

  #menu-nav {
    display: flex;
    justify-content: flex-end;
  }

  /* To make menu items show side by side */
  #menu-items {
    display: flex;
  }

  #menu-items > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  /*About*/
  #about-sparkle,
  #team-sparkle {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #about-sparkle > div,
  #team-sparkle > div {
    width: 75%;
    text-align: left;
    align-self: center;
  }

  /* Contact page */
  #contact {
    background-position: center;
    position: relative;
  }

  .form-center {
    display: flex;
    justify-content: center;
  }

  #contact-form {
    position: absolute;
    top: 80px;
  }

  .text-input:hover {
    border-color: #fbfbe3;
  }

  .join-button:hover {
    background-color: #fbfbe3;
    color: #BF4565;
  }
}

@media screen and (min-width: 992px) {
  /* To give the user a feedback of hovering over that specific link */
  #menu-items a:hover {
    border-bottom: 1px solid #04041c;
  }

  /*About*/
  #background {
    flex-direction: row;
    display: flex;
  }

  #background > div {
    flex: 1;
  }

  #sparkle-image {
    order: 0;
  }

  #team-sparkle {
    order: 1;
  }

  #about-sparkle > div,
  #team-sparkle > div {
    align-self: center;
    text-align: left;
  }
}
