annotated-types==0.6.0
asgiref==3.7.2
distro==1.9.0
Django==5.0.2
django-cors-headers==4.3.1
djangorestframework==3.14.0
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.3
httpx==0.26.0
openai==1.12.0
pydantic==2.6.1
pydantic_core==2.16.2
pytz==2024.1
sqlparse==0.4.4
tqdm==4.66.2
