/*About*/

#about-sparkle-container {
    width: 90%;
    margin: 20px auto;
}

#about-sparkle-container h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#about-sparkle > div,
#team-sparkle > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#background p {
    padding: 5px 10px;
}

#background hr {
    border-top: 1px dotted #031226;
    margin: 5px 0;
}

#circle-cover-bg-end {
    background: url('../images/rhand-mccoy-VAfNctgbreA-unsplash.webp') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /*Makes the square image into a circle*/
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid #031226;
}

#sparkle-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*The group section*/

#sparkle-spoiler {
    background: url('../images/rhand-mccoy-VAfNctgbreA-unsplash.webp') no-repeat center / cover;
    /*Handles rensponsivity without the need for a media query*/
    display: flex;
    flex-wrap: wrap;
}

#sparkle-spoiler div {
    color: #ECE3CE;
    background-color: rgba(27, 19, 73, 0.3);
    padding: 20px;
    text-align: center;
    /*this will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row*/
    flex-basis: 200px;
    flex-grow: 1;
    /*creates a grid of group member divs over the background image*/
    border: 2px solid #ECE3CE;
}

#sparkle-spoiler h3 {
    /*Override the heading color set in general styles*/
    color: #ECE3CE;
}

#spoiler h2 {
    text-align: center;
    text-transform: capitalize;
}


/* Media query fot tablets and up (from 768px and larger screens) */
@media screen and(min-width: 768px) {
    /*About*/

    #about-sparkle,
    #team-sparkle {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #about-sparkle > div, #team-sparkle > div {
        width: 75%;
        text-align: left;
        align-self: center;
    }

}


@media screen and(min-width: 992px) {
    /*About*/
    #background {
        flex-direction: row;
        display: flex;
    }

    #background > div {
        flex: 1;
    }

    #sparkle-image {
        order: 0;
    }

    #team-sparkle {
      order: 1;
  }

  #about-sparkle > div, #team-sparkle > div {
      align-self: center;
      text-align: left;
  }
}