/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=WindSong:wght@400;500&display=swap');

:root {
  /* PUT THEME IN HERE */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Montserrat, Verdana, sans-serif;
}

h1, h2, h3 {
  font-family: WindSong, cursive;
  font-weight: 500;
}

body {
  min-height: 100vh;
  color: white;
  background-color: purple;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: white;
  color: black;
  padding: 0 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: 0 2px 2px black;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* Marks the active web page */
.active {
  border-bottom: 1px solid black;
}

/* Navbar styles with dropdown toggle */
#menu {
  position: absolute;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 2px black;
  padding: 0 1rem;
  left: 0;
  display: none;
  top: 100%;
}

#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 19px;
  position: relative;
  color: black;
}

/* Main content */
main {
  flex: 1 0 auto;
  margin-top: 45px;
}

/* The hero section */
#hero {
  background-color: pink;
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#hero-text {
  position: absolute;
  bottom: 20px;
  color: black;
  text-align: center;
}