.container h2 {
  color: var(--background);
  font-weight: 500;
  font-family: Montserrat, Verdana, sans-serif;
  margin: 20px;
  text-align: center;
}

#circle-cover-bg-end {
  background: url("../../public/images/rhand-mccoy-VAfNctgbreA-unsplash.webp")
    no-repeat top center / cover;
  height: 90vw;
  width: 90vw;
  margin-bottom: 20px;
  /*Makes the square image into a circle*/
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  border: 1px solid #031226;
}

#sparkle-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*The group section*/

#sparkle-spoiler {
  background: url("../images/rachel-walker-fdYWSfH8N6Y-unsplash.jpg") no-repeat
    center / cover;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 0.5rem;
}

#sparkle-spoiler div {
  color: var(--background);
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  border: 2px solid var(--accent);
  display: flex;
  flex-direction: column;
  font-family: Montserrat, Verdana, sans-serif;
}

#sparkle-spoiler h3 {
  /*Override the heading color set in general styles*/
  font-size: 1.6rem;
  text-transform: capitalize;
}

#sparkle-spoiler h4 {
  /*Override the heading color set in general styles*/
  font-size: 1.2rem;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--background);
}

#sparkle-spoiler img {
  align-self: center;
  border: solid 2px var(--background);
  border-radius: 50%;
  max-width: 250px;
  max-height: 250px;
}

#sparkle-spoiler i {
  align-self: center;
  font-size: 200%;
  padding: 5%;
  color: #fcedcf;
  transition: 150ms;
}

#sparkle-spoiler i:hover,
#sparkle-spoiler i:focus {
  color: var(--accent);
  transform: scale(1.1);
}

/* Media query fot tablets and up (from 768px and larger screens) */
@media screen and (min-width: 768px) {
  /*About*/

  #about-sparkle,
  #team-sparkle {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #about-sparkle > div,
  #team-sparkle > div {
    width: 75%;
    text-align: left;
    align-self: center;
  }
}

@media screen and (min-width: 992px) {
  #sparkle-spoiler {
    grid-template-columns: repeat(3, 1fr);
  }
  /*About*/
  #background {
    flex-direction: row;
    display: flex;
  }

  #sparkle-image {
    order: 0;
  }

  #team-sparkle {
    order: 1;
  }

  #about-sparkle > div,
  #team-sparkle > div {
    align-self: center;
    text-align: left;
  }
}
