.heading-text {
  font-size: clamp(1.6rem, 4vw, 4rem);
}

.choice-btn {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: clamp(0.9rem, 1.5vw, 1.5rem);
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.choice-btn:hover {
  box-shadow: var(--primary) 0 0 0 3px, transparent 0 0 0 0;
}

.selected-btn {
  background: var(--primary);
  box-shadow: var(--accent) 0 0 0 3px, transparent 0 0 0 0;
  color: white;
}

.selected-btn:hover {
  box-shadow: white 0 0 0 3px, transparent 0 0 0 0;
}

#loadingModal {
  width: 300px;
  border-radius: 25px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ANIMATION */

#pulsingheart {
  position: relative;
  width: 100px;
  height: 90px;
}

#pulsingheart:before,
#pulsingheart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #aa0000;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite;
}

#pulsingheart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: pulsecolor 1s infinite;
}

.error-icon {
  color: var(--primary);
  animation: pulsetext 1s infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
}

@keyframes pulsecolor {
  10% {
    background: #dd0000;
  }
}

@keyframes pulsetext {
  10% {
    color: #dd0000;
  }
}

.fade-in-bounce {
  opacity: 0;
  transform: scale(0.5);
  animation: fadeInBounce 0.3s ease-in-out forwards;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#choiceContainer > .col:nth-child(1) {
  animation-delay: 0s;
}

#choiceContainer > .col:nth-child(2) {
  animation-delay: 0.1s;
}
#choiceContainer > .col:nth-child(3) {
  animation-delay: 0.2s;
}
#choiceContainer > .col:nth-child(4) {
  animation-delay: 0.3s;
}
#choiceContainer > .col:nth-child(5) {
  animation-delay: 0.4s;
}
#choiceContainer > .col:nth-child(6) {
  animation-delay: 0.5s;
}
#choiceContainer > .col:nth-child(7) {
  animation-delay: 0.6s;
}
#choiceContainer > .col:nth-child(8) {
  animation-delay: 0.7s;
}
#choiceContainer > .col:nth-child(9) {
  animation-delay: 0.8s;
}
#choiceContainer > .col:nth-child(10) {
  animation-delay: 0.9s;
}

.blockquote-custom {
  font-size: 1rem !important;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
  font-size: 1.2rem !important;
  border: 1px solid rgb(90, 153, 255);
}

.blockquote-custom-icon span {
  text-shadow: 0 0 1px #000;
  font-weight: 700;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
}

/* PLACES CARD */

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 3px solid whitesmoke;
}

i {
  text-shadow: 0 0 3px #000;
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  height: 200px;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 6px 6px 0px 0;
}

.card-heading {
  padding: 0.5rem;
  font-size: clamp(0.8rem, 1.5vw, 1rem);
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.text-small {
  font-size: 14px;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1f487e;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1d3461;
  color: #fff;
}

.btn-light i {
  text-shadow: none;
}
/* ANIMATION */

.fade-in-bounce {
  opacity: 0;
  transform: scale(0.5);
  animation: fadeInBounce 0.3s ease-in-out forwards;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#resultsContainer > .col-md-6:nth-child(1) .fade-in-bounce {
  animation-delay: 0s;
}

#resultsContainer > .col-md-6:nth-child(2) .fade-in-bounce {
  animation-delay: 0.1s;
}
#resultsContainer > .col-md-6:nth-child(3) .fade-in-bounce {
  animation-delay: 0.2s;
}
#resultsContainer > .col-md-6:nth-child(4) .fade-in-bounce {
  animation-delay: 0.3s;
}
#resultsContainer > .col-md-6:nth-child(5) .fade-in-bounce {
  animation-delay: 0.4s;
}
#resultsContainer > .col-md-6:nth-child(6) .fade-in-bounce {
  animation-delay: 0.5s;
}
#resultsContainer > .col-md-6:nth-child(7) .fade-in-bounce {
  animation-delay: 0.6s;
}
#resultsContainer > .col-md-6:nth-child(8) .fade-in-bounce {
  animation-delay: 0.7s;
}
#resultsContainer > .col-md-6:nth-child(9) .fade-in-bounce {
  animation-delay: 0.8s;
}
#resultsContainer > .col-md-6:nth-child(10) .fade-in-bounce {
  animation-delay: 0.9s;
}

.hidden {
  display: none !important;
}

:root {
  --white: #fff;
}

#letsPlanBtn {
  -webkit-appearance: none;
  background: -webkit-gradient(
    to right,
    var(--background) 0%,
    var(--pink) 50%,
    var(--accent) 100%
  );
  background: linear-gradient(
    to right,
    var(--background) 0%,
    var(--pink) 50%,
    var(--accent) 100%
  );
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: var(--accent);
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem 4rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#letsPlanBtn:hover,
#letsPlanBtn:focus {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 1.25s;
  -webkit-animation-duration: 1.25s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  outline: 2px solid var(--accent);
  color: white;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}

/* HOW TO CSS */

ol {
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

ol li {
  color: var(--background);
  max-width: 10rem;
  justify-self: center;
  display: grid;
  grid-template:
    "icon"
    "line"
    "dot"
    "title"
    "descr" 1fr;
  justify-items: center;
  align-items: flex-start;
  text-align: center;
}

li:nth-child(6n + 1) {
  --accent-color: #b8df4e;
}
li:nth-child(6n + 2) {
  --accent-color: #4cbccb;
}
li:nth-child(6n + 3) {
  --accent-color: #7197d3;
}
li:nth-child(6n + 4) {
  --accent-color: #c11b1b;
}
li:nth-child(6n + 5) {
  --accent-color: #7dc7a4;
}
li:nth-child(6n + 6) {
  --accent-color: #f078c2;
}

ol li .icon {
  grid-area: icon;
  width: 6rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  color: white;
  font-size: 2.5rem;
  border: 0.4rem solid var(--bgColor);
  border-radius: 50%;
  background: var(--accent-color);
  box-shadow: var(--background) 0px 0px 0px 3px;
}

.icon i {
  text-shadow: 0 0 10px #000;
}

ol li::before {
  content: "";
  grid-area: line;
  height: 2rem;
  border-right: 2px dotted currentColor;
}

ol li::after {
  content: "";
  grid-area: dot;
  width: 0.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--accent-color);
  justify-self: center;
  margin-bottom: 0.5rem;
}

ol li .title {
  grid-area: title;
  margin-block: 0.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

/* HEART FLOATS */

.x1 {
  left: 5%;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.6;
  -webkit-animation: moveclouds 15s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 15s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}

.x2 {
  left: 25%;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.9;
  -webkit-animation: moveclouds 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveclouds 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
}
.x3 {
  left: 55%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8;
  -webkit-animation: moveclouds 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveclouds 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}
.x4 {
  left: 72%;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.9;
  -webkit-animation: moveclouds 18s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveclouds 18s linear infinite,
    sideWays 0zs ease-in-out infinite alternate;
}
.x5 {
  left: 88%;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  -webkit-animation: moveclouds 7s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
  -moz-animation: moveclouds 7s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
}
.x6 {
  left: 33%;
  opacity: 1;
  -webkit-animation: moveclouds 2s linear infinite,
    swayWays 1s ease-in-out infinite alternate;
  animation: moveclouds 10s linear infinite,
    swayWays 9s ease-in-out infinite alternate;
}

@-webkit-keyframes moveclouds {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}

@keyframes moveclouds {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 100%;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

/* //  HEART CODE */
.altheart {
  background: url(http://static.indigoimages.ca/2016/shop/113439_img25_twotoneheart.png)
    no-repeat center;
  width: 24px;
  height: 21px;
  position: absolute;
  display: block;
}

.heart {
  position: absolute;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 18px;
  top: 0;
  width: 18px;
  height: 30px;
  background: #cc2022;
  -moz-border-radius: 20px 50% 0 0;
  border-radius: 30px 30px 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
