.icon-container {
  border-radius: 100%;
  border: 5px solid rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  padding: 8px;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.icon-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
}

.choice-image {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-container {
  width: 100%;
  height: 90vh;
  border: 3px solid var(--accent);
  position: fixed;
  width: 90vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

.close-icon-container {
  z-index: 1000;
}

.close-icon {
  position: absolute;
  font-size: 3rem;
  font-weight: bolder;
  z-index: 1000;
  top: 5px;
  right: 5px;
}

.close-icon:hover,
.close-icon:focus {
  cursor: pointer;
  color: var(--accent);
  transform: scale(0.9);
  transition: 250ms;
}
