.choice-btn {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.choice-btn:hover {
  box-shadow: var(--primary) 0 0 0 3px, transparent 0 0 0 0;
}

.selected-btn {
  background: var(--primary);
  box-shadow: var(--accent) 0 0 0 3px, transparent 0 0 0 0;
  color: white;
}

.selected-btn:hover {
  box-shadow: white 0 0 0 3px, transparent 0 0 0 0;
}

#loadingModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  border-radius: 25px;
}

/* ANIMATION */

#pulsingheart {
  position: relative;
  width: 100px;
  height: 90px;
}

#pulsingheart:before,
#pulsingheart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #aa0000;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
  animation: pulsecolor 1s infinite;
}

#pulsingheart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
  animation: pulsecolor 1s infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.1);
  }
}

@keyframes pulsecolor {
  10% {
    background: #dd0000;
  }
}

.fade-in-bounce {
  opacity: 0;
  transform: scale(0.5);
  animation: fadeInBounce 0.3s ease-in-out forwards;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#choiceContainer > .col:nth-child(1) {
  animation-delay: 0s;
}

#choiceContainer > .col:nth-child(2) {
  animation-delay: 0.1s;
}
#choiceContainer > .col:nth-child(3) {
  animation-delay: 0.2s;
}
#choiceContainer > .col:nth-child(4) {
  animation-delay: 0.3s;
}
#choiceContainer > .col:nth-child(5) {
  animation-delay: 0.4s;
}
#choiceContainer > .col:nth-child(6) {
  animation-delay: 0.5s;
}
#choiceContainer > .col:nth-child(7) {
  animation-delay: 0.6s;
}
#choiceContainer > .col:nth-child(8) {
  animation-delay: 0.7s;
}
#choiceContainer > .col:nth-child(9) {
  animation-delay: 0.8s;
}
#choiceContainer > .col:nth-child(10) {
  animation-delay: 0.9s;
}

.blockquote-custom {
  font-size: 1rem !important;
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
  font-size: 1.2rem !important;
  border: 1px solid rgb(90, 153, 255);
}

/* PLACES CARD */

.card-sl {
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 3px solid whitesmoke;
}

i {
  text-shadow: 0 0 3px #000;
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  height: 200px;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 6px 6px 0px 0;
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 10px;
  margin-inline: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.text-small {
  font-size: 14px;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1f487e;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1d3461;
  color: #fff;
}

/* ANIMATION */

.fade-in-bounce {
  opacity: 0;
  transform: scale(0.5);
  animation: fadeInBounce 0.3s ease-in-out forwards;
}

@keyframes fadeInBounce {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#resultsContainer > .col-md-6:nth-child(1) .fade-in-bounce {
  animation-delay: 0s;
}

#resultsContainer > .col-md-6:nth-child(2) .fade-in-bounce {
  animation-delay: 0.1s;
}
#resultsContainer > .col-md-6:nth-child(3) .fade-in-bounce {
  animation-delay: 0.2s;
}
#resultsContainer > .col-md-6:nth-child(4) .fade-in-bounce {
  animation-delay: 0.3s;
}
#resultsContainer > .col-md-6:nth-child(5) .fade-in-bounce {
  animation-delay: 0.4s;
}
#resultsContainer > .col-md-6:nth-child(6) .fade-in-bounce {
  animation-delay: 0.5s;
}
#resultsContainer > .col-md-6:nth-child(7) .fade-in-bounce {
  animation-delay: 0.6s;
}
#resultsContainer > .col-md-6:nth-child(8) .fade-in-bounce {
  animation-delay: 0.7s;
}
#resultsContainer > .col-md-6:nth-child(9) .fade-in-bounce {
  animation-delay: 0.8s;
}
#resultsContainer > .col-md-6:nth-child(10) .fade-in-bounce {
  animation-delay: 0.9s;
}

.hidden {
  display: none !important;
}
