:root {
    --nav-background-color: #c0b1b1;
    --text-color: #333;
    --link-color: #1e2426;
    --link-hover-color: #55545a;
    --link-hover-text-decoration: underline;
    --link-visited-color: #333333;
    --link-visited-hover-color: #333;
    --link-visited-hover-text-decoration: underline;
    --content-background-color: #f0e3e3;
    
}
nav {
  background-color: var(--nav-background-color);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--nav-background-color);
  }
  
nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

body {
  color: var(--text-color);
}   

a {
  color: var(--link-color);
  text-decoration: none;
}   

a:hover {
  color: var(--link-hover-color);
  text-decoration: var(--link-hover-text-decoration);
}   

a:visited {
  color: var(--link-visited-color);
}   

a:visited:hover {
  color: var(--link-visited-hover-color);
  text-decoration: var(--link-visited-hover-text-decoration);
}   

.content {
  background-color: var(--content-background-color);
}

.response {
  background-color: white;
  border: 1px solid #ccc;
  color: red;
}

.drinks-panel {
  background-color: var(--content-background-color);
  border: 1px solid #ccc;
  color: rgb(2, 50, 1);
}

.foods-panel {
  background-color: var(--content-background-color);
  border: 1px solid #ccc;
  color: rgb(1, 24, 0);
}

.food-slides {
    display:none;
    background-color: var(--content-background-color);
    border: 1px solid #ccc;
    color: rgb(1, 24, 0);
}

.activity-slides {
    display:none;
    background-color: var(--content-background-color);
    border: 1px solid #ccc;
    color: rgb(1, 24, 0);
}

.drink-slides {
    display:none;
    background-color: var(--content-background-color);
    border: 1px solid #ccc;
    color: rgb(2, 50, 1);
}

